body {
    font-family: Montserrat, sans-serif;
    background-color: #F5F5F5;
    color: #08376B;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    margin-top: 10px;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #35C0ED;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 10px;
}

.continue-btn {
    padding: 10px 20px;
    background-color: #35C0ED;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.logo {
    display: block;
    margin-bottom: 20px;
}
header {
    background-color: #08376B;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}
img {
    max-width: 100px ;
    margin-bottom: 20px;
}
